@font-face {
  font-family: 'Fira Code';
  src: url('/path/to/font/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: 'Fira Code', monospace;
    letter-spacing: 2px;
    height: 100%;
    margin: 0;
    background-color: #1E2732;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(2, 114, 131));
    /* background-image: url(); */
  }
  
  body {
    display: flex;
    flex-wrap: nowrap;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }
    
  canvas {
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 
      0px 0px 10px rgba(255, 255, 255, 0.8), 
      0px 0px 20px rgba(255, 255, 255, 0.7),
      0px 0px 30px rgba(255, 255, 255, 0.6),
      0px 0px 40px rgba(255, 255, 255, 0.5),
      0px 0px 50px rgba(255, 255, 255, 0.4);   
  }
  
  

  footer {
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  
  footer p {
    border: none;
    color: rgb(102, 252, 241);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }